<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.ClassWishlist">

	<select id="selectallwishilst" resultType="ClassDto">
		SELECT 
		a.class_type,a.seq, a.class_name,a.regdate, a.class_info, a.class_area, a.class_depa 
		, a.class_sd , a.class_cd, a.class_week
		, a.class_starttime , a.class_time
		, a.class_price, a.class_PARTICIPATION, a.class_detail, a.class_img , a.class_hashtag, a.class_termin
        , a.class_creator_name , a.profile_img,
			NVL(b.rating,0) as class_member_rating,
            NVL(b.CLASS_REVIEW_COUNT,0) as class_review_count,
			c.class_now_participation,
			c.d_day
		  FROM (SELECT a.class_type, a.seq, a.class_name, a.regdate, a.class_info, a.class_area, a.class_depa 
		, a.class_sd , a.class_cd, a.class_week
		, a.class_starttime , a.class_time
		, a.class_price, a.class_PARTICIPATION, a.class_detail, a.class_img , a.class_hashtag, a.class_termin, a.CLASS_MEMBER_SEQ  
        , b.member_name as class_creator_name, b.member_profile as profile_img
        FROM class a,member b
        WHERE b.member_seq = a.class_member_seq and
        seq in(SELECT wishlist_CLASS_SEQ FROM class_wishlist
		 WHERE wishlist_MEMBER_SEQ= #{member_seq})) a,
		 (SELECT CLASS.CLASS_MEMBER_SEQ, ROUND(AVG(REVIEW.REVIEW_RATING),1) AS RATING, COUNT(REVIEW_CLASS_SEQ) AS CLASS_REVIEW_COUNT FROM REVIEW, CLASS WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ GROUP BY CLASS.CLASS_MEMBER_SEQ) b,
		  (SELECT seq,	(SELECT COUNT(inclass.inclass_class_seq) FROM INCLASS WHERE INCLASS.INCLASS_CLASS_SEQ = CLASS.SEQ) AS class_now_participation, TRUNC((CLASS.CLASS_SD-SYSDATE),0) AS d_day
			FROM CLASS) c
         
		 WHERE a.CLASS_MEMBER_SEQ = b.CLASS_MEMBER_SEQ (+)
			AND
         a.SEQ = c.SEQ
         	AND
         a.class_termin = 'N'

	</select>
	
	<insert id="insertwishlist" parameterType="Map">
		INSERT INTO class_wishlist (wishlist_member_seq, wishlist_class_seq)  VALUES(#{member_seq},#{class_seq})
	</insert>
	
	<select id="imminentWishlist" resultType="ClassDto">
		SELECT a.seq, a.d_day from (SELECT seq,(TO_CHAR(class_sd,'YYYYMMDD')-TO_CHAR(SYSDATE,'YYYYMMDD')) AS d_day from class) a,
 		class_wishlist b WHERE a.seq = b.wishlist_class_seq and d_day &lt;= 3 and d_day>=0 and b.wishlist_class_seq = #{class_seq}
	</select>
	
	<select id="checkwishlist" resultType="int" parameterType="Map">
		 SELECT COUNT(wishlist_class_seq) FROM class_wishlist where wishlist_class_seq = #{class_seq} and wishlist_member_seq= #{member_seq}
	</select>
	
	<delete id="delwishlist" parameterType="Map">
		DELETE FROM class_wishlist WHERE wishlist_member_seq = #{member_seq} wishlist_class_seq IN
		<foreach collection="member_seqs" item="seq" open="(" separator="," close=")">
			#{seq}
		</foreach>
	</delete>
	
</mapper>