<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.ClassWishlist">

	<select id="selectallwishilst" resultType="ClassDto">
		SELECT 
		a.class_type,a.seq, a.class_name,a.regdate, a.class_info, a.class_area, a.class_depa 
		, a.class_sd , a.class_cd, a.class_week
		, a.class_starttime , a.class_time
		, a.class_price, a.class_PARTICIPATION, a.class_detail, a.class_img , a.class_hashtag, a.class_termin,
			b.rating,	
			c.participation,
			c.d_day
		  FROM (SELECT class_type, seq, class_name, regdate, class_info, class_area, class_depa 
		, class_sd , class_cd, class_week
		, class_starttime , class_time
		, class_price, class_PARTICIPATION, class_detail, class_img , class_hashtag, class_termin,CLASS_MEMBER_SEQ  FROM class WHERE seq in(SELECT CLASS_SEQ FROM class_wishlist
		 WHERE wishlist_MEMBER_SEQ= #{member_seq})) a,
		 (SELECT CLASS.CLASS_MEMBER_SEQ, ROUND(AVG(REVIEW.REVIEW_RATING),1) AS RATING FROM REVIEW, CLASS WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ GROUP BY CLASS.CLASS_MEMBER_SEQ) b,
		  (SELECT seq,	(SELECT COUNT(INCLASS.SEQ) FROM INCLASS WHERE INCLASS.INCLASS_CLASS_SEQ = CLASS.SEQ) AS participation, (TO_CHAR(CLASS.CLASS_SD,'YYYYMMDD')-TO_CHAR(SYSDATE,'YYYYMMDD')) AS d_day
			FROM CLASS) c
		 WHERE a.CLASS_MEMBER_SEQ = b.CLASS_MEMBER_SEQ
			AND a.SEQ = c.SEQ;

	</select>
	
	<insert id="insertwishlist" parameterType="Map">
		INSERT INTO class_wishlist (wishlist_member_seq, wishlist_class_seq)  VALUES( #{member_seq}, #{class_seq} )
	</insert>
	
	<select id="imminentWishlist" resultType="ClassDto">
		SELECT a.seq, a.d_day from (SELECT seq,(TO_CHAR(class_sd,'YYYYMMDD')-TO_CHAR(SYSDATE,'YYYYMMDD')) AS d_day from class) a,
 		class_wishlist b WHERE a.seq = b.wishlist_class_seq and d_day &lt;= 3 and d_day>=0 and b.wishlist_class_seq = #{class_seq}
	</select>
	
	<select id="cheakwishlist" resultType="int">
		 SELECT COUNT(wishlist_class_seq) FROM class_wishlist where wishlist_class_seq = #{class_seq} and wishlist_member_seq= #{member_seq}
	</select>
	
	<delete id="delwishlist" parameterType="Map">
		DELETE FROM class_wishlist WHERE wishlist_member_seq = #{member_seq} wishlist_class_seq = IN
		<foreach collection="member_seqs" item="seq" open="(" separator="," close=")">
			#{seq}
		</foreach>
	</delete>
	
</mapper>