<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Member">
	
   <select id="login" resultType="MemberDto" parameterType="Map">
   		SELECT MEMBER_SEQ ,MEMBER_NAME ,MEMBER_TYPE ,MEMBER_KEY FROM MEMBER WHERE MEMBER_ID=#{id} AND MEMBER_PASSWORD=#{password}
   </select>

	<insert id="signupmember" parameterType="MemberDto">
		INSERT INTO MEMBER(MEMBER_TYPE,MEMBER_ID,MEMBER_PASSWORD,MEMBER_NAME,MEMBER_BIRTH,MEMBER_PHONE,MEMBER_EMAIL,MEMBER_REGDATE,MEMBER_SEQ,MEMBER_PROFILE) 
		VALUES(#{member_type},#{member_id},#{member_password},#{member_name},#{member_birth},
				#{member_phone},#{member_email},SYSDATE,MEMBER_SEQ.nextval,#{member_profile})
		
	</insert>
	
	<select id="idcheck" parameterType="String" resultType="int">
		SELECT COUNT(MEMBER_ID) FROM MEMBER WHERE MEMBER_ID=#{ID}
	</select>
	
	<!-- 강사 상세보기 페이지-강사 프로필+평균 평점 // avg=강사 평균 평점-->
	<select id="getTProfile" parameterType="int" resultType="MemberDto">
		SELECT MEMBER_ID,
			MEMBER_PASSWORD,
			MEMBER_NAME,
			MEMBER_BIRTH,
			MEMBER_PHONE,
			MEMBER_EMAIL,
			MEMBER_PROFILE,
			MEMBER_INFO,
			MEMBER_REGDATE,
			(SELECT round(AVG(REVIEW.REVIEW_RATING),1) AS RATING_AVG FROM REVIEW, CLASS WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ AND CLASS.CLASS_MEMBER_SEQ = #{seq} ) AS AVG 
			FROM MEMBER 
		WHERE MEMBER_SEQ = #{member_seq}
	</select>
	
	<!-- 강사 상세보기 페이지-강사가 진행했던 강의 리스트 조회-->
	<select id="getTclass" parameterType="int" resultType="ClassDto">
		SELECT SEQ, CLASS_TYPE, CLASS_NAME, REGDATE, CLASS_INFO, CLASS_AREA, CLASS_DEPA, CLASS_SD, CLASS_CD, CLASS_WEEK, CLASS_STARTTIME, 
		CLASS_TIME, CLASS_PRICE, CLASS_PARTICIPATION, CLASS_DETAIL, CLASS_IMG, CLASS_HASHTAG, CLASS_TERMIN, CLASS_MEMBER_SEQ FROM CLASS WHERE CLASS_MEMBER_SEQ=#{member_seq} 
	</select>
	
	<!-- 강사 상세보기 페이지-강사가 진행했던 강의의 후기 리스트 -->
	<select id="getTreview" parameterType="int" resultType="ReviewDto">
		SELECT REVIEW.REVIEW_CLASS_SEQ,REVIEW.REVIEW_DETAIL, CLASS.CLASS_MEMBER_SEQ, REVIEW.REVIEW_RATING, CLASS.CLASS_NAME, REVIEW.REVIEW_MEMBER_SEQ FROM REVIEW, CLASS WHERE REVIEW.REVIEW_Class_SEQ = CLASS.SEQ AND CLASS.CLASS_MEMBER_SEQ = #{member_seq}
	</select>
		
	<update id="updatemember" parameterType="MemberDto">
		UPDATE member SET (member_password, member_name, member_phone, member_email, member_profile, member_info) 
		= (#{password}, #{name}, #{phone}, #{email}, #{profile}, #{info}) WHERE member_seq = #{member_seq}
	</update>
	
	<delete id="deletemember" parameterType="Map">
		DELETE FROM member WHERE member_seq IN
		<foreach collection="chks" item="chk" open="(" separator="," close=")">
			#{chk}
		</foreach>
	</delete>
	
	<insert id="t_signupmember" parameterType="MemberDto">
		INSERT INTO MEMBER(MEMBER_TYPE,MEMBER_ID,MEMBER_PASSWORD,MEMBER_NAME,MEMBER_BIRTH,MEMBER_PHONE,MEMBER_EMAIL,MEMBER_REGDATE,MEMBER_SEQ,MEMBER_INFO,MEMBER_PROFILE)
    VALUES(#{member_type},#{member_id},#{member_password},#{member_name},#{member_birth},
				#{member_phone},#{member_email},SYSDATE,MEMBER_SEQ.nextval,#{member_info},#{member_profile})
	
	</insert>
	
	
	<update id="getkey" parameterType="Map">
		UPDATE MEMBER SET MEMBER_KEY = #{member_key} WHERE MEMBER_ID=#{member_id}
	</update>
	
	
	<update id="alter_userkey" parameterType="Map">
		UPDATE MEMBER SET MEMBER_KEY = 'Y' WHERE MEMBER_ID=#{member_id} AND MEMBER_KEY=#{member_key}
	</update>
	
	<select id="searchid" parameterType="Map" resultType="String">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NAME=#{member_name} AND MEMBER_EMAIL=#{member_email}
	</select>
	
	<update id="alter_userpassword" parameterType="Map">
		UPDATE MEMBER SET MEMBER_PASSWORD=#{member_password} WHERE MEMBER_ID=#{member_id} AND MEMBER_EMAIL=#{member_email}
	</update>
	
	<select id="getinfo" parameterType="Map" resultType="MemberDto">
		SELECT MEMBER_NAME , MEMBER_PASSWORD FROM MEMBER WHERE MEMBER_ID=#{member_id} AND MEMBER_EMAIL=#{member_email}
	</select>
	
	<select id="naverEmail" parameterType="String" resultType="MemberDto">
		SELECT MEMBER_SEQ ,MEMBER_NAME ,MEMBER_TYPE ,MEMBER_KEY FROM MEMBER WHERE MEMBER_EMAIL=#{member_email}
	</select>
	
	<insert id="naverSignUp" parameterType="Map" >
			INSERT INTO MEMBER(MEMBER_TYPE,MEMBER_ID,MEMBER_NAME,MEMBER_BIRTH,MEMBER_EMAIL,MEMBER_REGDATE,MEMBER_SEQ) 
		VALUES(#{member_type},#{member_id},#{member_name},#{member_birth},#{member_email},SYSDATE,MEMBER_SEQ.nextval) 
	</insert>
</mapper>