<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Inclass">

	

	<select id="chkinclassmember" parameterType="Map" resultType="java.lang.Integer">
		SELECT NVL(b.class_now_participation,-1) as class_now_participation
         FROM class a,
         (select count(case when MEMBER_TYPE=#{member_type} then '1' end) as class_now_participation
         from member where MEMBER_SEQ in(SELECT INCLASS_MEMBER_SEQ FROM inclass WHERE inclass_class_seq = #{class_seq})) b
         WHERE a.seq = #{class_seq} and b.class_now_participation(+) >= a.class_participation
	</select>
	
	<select id="chkisinclass" parameterType="Map" resultType="java.lang.Integer">
		 SELECT count(INCLASS_CLASS_SEQ) FROM inclass WHERE INCLASS_MEMBER_SEQ = #{member_seq} and INCLASS_CLASS_SEQ = #{class_seq}
	</select>
	
	<select id="chkinclasstime_join" parameterType="ClassDto" resultType="String">
		 SELECT class_name FROM (select CLASS_TYPE,CLASS_MEMBER_SEQ,CLASS_NAME,REGDATE,SEQ,CLASS_TERMIN,CLASS_PARTICIPATION,CLASS_SD,CLASS_DEPA,CLASS_STARTTIME,CLASS_WEEK,
            CLASS_CD,CLASS_TIME from class where class_type in('W','C') and seq in(select inclass_class_seq from inclass where inclass_member_seq = #{class_member_seq} )) 
            WHERE 
            seq = #{seq}  
            and CLASS_SD<![CDATA[<=]]>to_date(#{class_cd},'yyyy-mm-dd') and (CLASS_CD<![CDATA[>=]]>to_date(#{class_sd},'yyyy-mm-dd'))
            and (to_date(class_starttime, 'hh24mi') <![CDATA[<=]]> (to_date(#{class_starttime}, 'hh24mi')+#{class_time}/(24*60)) and  ( to_date(class_starttime, 'hh24mi')+class_time/(24*60))<![CDATA[>=]]>(to_date(#{class_starttime}, 'hh24mi')))
             and REGEXP_LIKE(CLASS_WEEK,#{class_week})
	</select>

	<select id="chkinclasstime_create" parameterType="ClassDto" resultType="String">
		SELECT class_name FROM (select 
		CLASS_TYPE,CLASS_MEMBER_SEQ,CLASS_NAME,REGDATE,SEQ,CLASS_TERMIN,
		CLASS_IMG,CLASS_DETAIL,CLASS_PARTICIPATION,CLASS_SD,CLASS_DEPA,CLASS_AREA,CLASS_STARTTIME,CLASS_WEEK,
		CLASS_CD,CLASS_HASHTAG,CLASS_PRICE,CLASS_TIME,CLASS_INFO
		 from class where class_member_seq = #{class_member_seq} ) 
        WHERE 
        CLASS_SD<![CDATA[<=]]>to_date(#{class_cd},'yyyy-mm-dd') and (CLASS_CD<![CDATA[>=]]>to_date(#{class_sd},'yyyy-mm-dd'))
        and (to_date(class_starttime, 'hh24mi') <![CDATA[<=]]> (to_date(#{class_starttime}, 'hh24mi')+#{class_time}/(24*60)) 
        and  ( to_date(class_starttime, 'hh24mi')+class_time/(24*60))<![CDATA[>=]]>(to_date(#{class_starttime}, 'hh24mi')))
        and REGEXP_LIKE(CLASS_WEEK,#{class_week})
        
	</select>

	<insert id="insertinclass" parameterType="Map">
		INSERT INTO inclass (inclass_member_seq,inclass_class_seq) VALUES( #{member_seq},#{class_seq}) 
	</insert>
	
	<select id="getinclasslist" parameterType="int" resultType="ClassDto">
	SELECT 
		a.class_type,a.seq, a.class_name,a.regdate, a.class_info, a.class_area, a.class_depa 
		, a.class_sd , a.class_cd, a.class_week
		, a.class_starttime , a.class_time
		, a.class_price, a.class_PARTICIPATION, a.class_detail, a.class_img , a.class_hashtag, a.class_termin,
			NVL(b.rating,0) as rating,	
			c.participation,
			c.d_day,
			d.MEMBER_NAME AS CLASS_CREATOR_NAME
		  FROM (SELECT class_type, seq, class_name, regdate, class_info, class_area, class_depa 
		, class_sd , class_cd, class_week
		, class_starttime , class_time
		, class_price, class_PARTICIPATION, class_detail, class_img , class_hashtag, class_termin,CLASS_MEMBER_SEQ  FROM class WHERE seq in(SELECT INCLASS_CLASS_SEQ FROM INclass 
		 WHERE INCLASS_MEMBER_SEQ= #{member_seq})) a,
		 (SELECT CLASS.CLASS_MEMBER_SEQ, ROUND(AVG(REVIEW.REVIEW_RATING),1) AS RATING FROM REVIEW, CLASS WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ GROUP BY CLASS.CLASS_MEMBER_SEQ) b,
		  (SELECT seq,	(SELECT COUNT(inclass.inclass_class_seq) FROM INCLASS WHERE INCLASS.INCLASS_CLASS_SEQ = CLASS.SEQ) AS participation, (TO_CHAR(CLASS.CLASS_SD,'YYYYMMDD')-TO_CHAR(SYSDATE,'YYYYMMDD')) AS d_day
			FROM CLASS) c,
			(SELECT member_seq,MEMBER_NAME from member) d
		 WHERE a.CLASS_MEMBER_SEQ = b.CLASS_MEMBER_SEQ (+)
			AND
         a.SEQ = c.SEQ
         and d.member_seq = a.CLASS_MEMBER_SEQ
	</select>
	
	<delete id="cancelmyinclass" parameterType="Map">
		DELETE FROM inclass WHERE inclass_member_seq = #{member_seq} AND inclass_class_seq =
			#{class_seq}
		
	</delete>
</mapper>