<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Msg">

	<select id="count_receive" resultType="int">
		SELECT COUNT(*) FROM MSG WHERE MSG_TO = #{msg_email} AND MSG_READ = 'N'
	</select>
	
	<select id="getMsgList" resultType="MsgDto" parameterType="String">
		SELECT A.MSG_READ,A.MSG_FROM,A.MSG_CONTENT,A.MSG_REGDATE,A.MSG_SEQ,B.MEMBER_NAME ,A.MSG_DELFLAG
		FROM MSG A INNER JOIN MEMBER B ON A.MSG_FROM = B.MEMBER_EMAIL WHERE MSG_TO=#{msg_email} AND MSG_DELFLAG = 'N'
	</select>
	
	<update id="readConfirm" parameterType="int" >
		UPDATE MSG SET MSG_READ = 'Y' WHERE MSG_SEQ = #{msg_seq}
	</update>
	
	<select id="msgDetail" parameterType="int" resultType="MsgDto">
		SELECT A.MSG_READ,A.MSG_FROM,A.MSG_CONTENT,A.MSG_REGDATE,A.MSG_SEQ,B.MEMBER_NAME 
		 FROM MSG A INNER JOIN MEMBER B ON A.MSG_FROM = B.MEMBER_EMAIL WHERE MSG_SEQ = #{msg_seq}
	</select>
	
	
	<update id="muldelMsg" parameterType="Map">
		UPDATE MSG SET MSG_DELFLAG='Y' WHERE MSG_SEQ IN
		<foreach collection="seqs" item="msg_seq" open="(" close=")" separator=",">
			#{msg_seq}
		</foreach>
	</update>
</mapper>



