<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Inclass">

	<select id="chkinclass" parameterType="Map" resultType="java.lang.Integer">
		SELECT (SELECT COUNT(inclass.seq) FROM inclass WHERE inclass.seq = class.seq) 
		AS now_participation FROM class WHERE class.seq = #{seq} and now_participation <![CDATA[>]]>= class.participation
	</select>

	<insert id="insertinclass" parameterType="Map">
		INSERT INTO inclass (inclass_member_seq,inclass_class_seq) VALUES( #{member_seq},#{class_seq}) 
	</insert>
	
	<select id="getinclasslist">
	
	
	
	</select>
	
	<delete id="delmyinclass" parameterType="Map">
		DELETE FROM inclass WHERE inclass_member_seq = #{member_seqs[0]} AND inclass_class_seq = IN
		<foreach collection="class_seqs" item="class_seq" open="(" separator="," close=")">
			#{class_seq}
		</foreach>
	</delete>
</mapper>