<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Admin">
	
	<select id="getflipstatus" resultType="AdminDto">
	SELECT (select count(*) from member) as member_number,    
    (select count(*) from class) as class_number,
    (select count(*) from (SELECT * FROM class WHERE CLASS_TERMIN = 'C')) as close_class_number
    from dual
	</select>
	
	<select id="getmemberlist" parameterType="int" resultType="MemberDto">
		SELECT member_name, member_email, member_id,member_type, TO_CHAR(member_regdate,'YYYY/MM/DD') as member_regdate from member
	</select>
	
	<select id="getmemberprofil" parameterType="String" resultType="MemberDto">
		SELECT * from member where member_email = #{email}
	</select>
	
	<update id="updatemember" parameterType="MemberDto">
		UPDATE member SET MEMBER_PASSWORD = #{member_password},MEMBER_BIRTH = #{member_birth},
		MEMBER_PHONE = #{member_phone} WHERE MEMBER_EMAIL = #{member_email}
	</update>
	
	<delete id="deletemember" parameterType="String">
		DELETE FROM member WHERE MEMBER_EMAIL = #{member_email}
	</delete>
	
	<update id="classclose" parameterType="int">
		UPDATE class SET class_termin = 'Y' WHERE seq = #{seq}
	</update>
	
	<delete id="deleteclass" parameterType="int">
		DELETE FROM class WHERE seq = #{seq}
	</delete>
	
	<select id="getclasslist" parameterType="String" resultType="ClassDto">
		SELECT
        C.CLASS_TYPE,
		C.SEQ,
		M.MEMBER_NAME AS
		CLASS_CREATOR_NAME,
		C.CLASS_NAME,
		C.CLASS_INFO,
		C.CLASS_AREA,
        
        REPLACE(TO_CHAR(c.class_starttime, '00,00'),',',':') as class_starttime


		FROM
		CLASS C,
		MEMBER M,
		(SELECT CLASS.SEQ, ROUND(AVG(REVIEW.REVIEW_RATING),1)
		AS
		CLASS_RATING,COUNT(REVIEW_CLASS_SEQ) AS CLASS_REVIEW_COUNT
		FROM
		REVIEW, CLASS
		WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ
		GROUP BY
		CLASS.SEQ
		ORDER BY CLASS_RATING DESC) R,
		(SELECT
		CLASS.SEQ,(TO_CHAR(CLASS.CLASS_SD,'YYYYMMDD')-TO_CHAR(SYSDATE,'YYYYMMDD'))
		AS CLASS_D_DAY FROM CLASS) D_DAY,
		(SELECT
		CL.SEQ,COUNT(INC.INCLASS_CLASS_SEQ) AS CLASS_NOW_PARTICIPATION
		FROM
		INCLASS INC, CLASS CL
		WHERE INC.INCLASS_CLASS_SEQ = CL.SEQ
		GROUP BY
		CL.SEQ) PARTI
		WHERE
		C.SEQ = R.SEQ (+)
		AND C.CLASS_MEMBER_SEQ =
		M.MEMBER_SEQ(+)
		AND C.SEQ = D_DAY.SEQ
		AND C.SEQ = PARTI.SEQ (+)
        and c.CLASS_TERMIN = #{class_termin}
	</select>
	
	<select id="getclassprofil" parameterType="int" resultType="ClassDto">
		  SELECT * FROM class WHERE seq = #{class_seq}
	</select>
	
	<update id="updateclass" parameterType="ClassDto">
		UPDATE class SET class_depa = #{class_depa},class_name = #{class_name},
		class_info = #{class_info},class_area = #{class_area},
		class_detail = #{class_detail},class_img = #{class_img} 
		WHERE seq = #{seq}
	</update>
	
</mapper>