<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Inclass">

	

	<select id="chkinclassmember" parameterType="Map" resultType="java.lang.Integer">
		SELECT NVL(b.class_now_participation,-1) as class_now_participation
         FROM class a,
         (select count(case when MEMBER_TYPE=#{member_type} then '1' end) as class_now_participation
         from member where MEMBER_SEQ in(SELECT INCLASS_MEMBER_SEQ FROM inclass WHERE inclass_class_seq = #{class_seq})) b
         WHERE a.seq = #{class_seq} and b.class_now_participation(+) >= a.class_participation
	</select>
	
	<select id="chkisinclass" parameterType="Map" resultType="java.lang.Integer">
		 SELECT count(INCLASS_CLASS_SEQ) FROM inclass WHERE INCLASS_MEMBER_SEQ = #{member_seq} and INCLASS_CLASS_SEQ = #{class_seq}
	</select>
	
	<select id="chkinclasstime_join" parameterType="map" resultType="String">
		 SELECT a.class_name FROM (select CLASS_TYPE,CLASS_MEMBER_SEQ,CLASS_NAME,REGDATE,SEQ,CLASS_TERMIN,CLASS_PARTICIPATION,CLASS_SD,CLASS_DEPA,CLASS_STARTTIME,CLASS_WEEK,
            CLASS_CD,CLASS_TIME from class where class_termin = 'N' and seq in(select inclass_class_seq from inclass where inclass_member_seq = #{member_seq} )) a, 
            (select CLASS_TYPE,CLASS_MEMBER_SEQ,CLASS_NAME,REGDATE,SEQ,CLASS_TERMIN,CLASS_PARTICIPATION,CLASS_SD,CLASS_DEPA,CLASS_STARTTIME,CLASS_WEEK,
            CLASS_CD,CLASS_TIME from class where class_termin = 'N' and seq = #{seq}) b 
            WHERE 
          a.CLASS_SD<![CDATA[<=]]>b.class_cd and (a.CLASS_CD<![CDATA[>=]]>b.class_sd)
            and (to_date(a.class_starttime, 'hh24mi') <![CDATA[<=]]> (to_date(b.class_starttime, 'hh24mi')+b.class_time/(24*60))) 
            and  ( to_date(a.class_starttime, 'hh24mi')+a.class_time/(24*60))<![CDATA[>=]]>(to_date(a.class_starttime, 'hh24mi'))
             and REGEXP_LIKE(a.CLASS_WEEK,b.class_week)
	</select>

	<select id="chkinclasstime_create" parameterType="ClassDto" resultType="String">
		SELECT class_name FROM (select 
		CLASS_TYPE,CLASS_MEMBER_SEQ,CLASS_NAME,REGDATE,SEQ,CLASS_TERMIN,
		CLASS_IMG,CLASS_DETAIL,CLASS_PARTICIPATION,CLASS_SD,CLASS_DEPA,CLASS_AREA,CLASS_STARTTIME,CLASS_WEEK,
		CLASS_CD,CLASS_HASHTAG,CLASS_PRICE,CLASS_TIME,CLASS_INFO
		 from class where class_member_seq = #{class_member_seq} AND class_termin = 'N' ) 
        WHERE 
        CLASS_SD<![CDATA[<=]]>to_date(#{class_cd},'yyyy-mm-dd') and (CLASS_CD<![CDATA[>=]]>to_date(#{class_sd},'yyyy-mm-dd'))
        and (to_date(class_starttime, 'hh24mi') <![CDATA[<=]]> (to_date(#{class_starttime}, 'hh24mi')+#{class_time}/(24*60)) 
        and  ( to_date(class_starttime, 'hh24mi')+class_time/(24*60))<![CDATA[>=]]>(to_date(#{class_starttime}, 'hh24mi')))
        and REGEXP_LIKE(CLASS_WEEK,#{class_week})
        
	</select>

	<insert id="insertinclass" parameterType="Map">
		INSERT INTO inclass (inclass_member_seq,inclass_class_seq) select #{member_seq},#{class_seq} from dual

		where (select CLASS_PARTICIPATION from class where seq = #{class_seq})<![CDATA[>=]]> 
		
		(select count(a.inclass_member_seq) as CLASS_NOW_PARTICIPATION from inclass a,
		    (select member_seq,member_type from member b where member_type ='S') b
		where a.inclass_class_seq = #{class_seq} and a.inclass_member_seq = b.member_seq)
	</insert>
	
	<select id="getinclasslist" parameterType="int" resultType="ClassDto">
	SELECT 
		A.CLASS_TYPE,A.SEQ, A.CLASS_NAME,A.REGDATE, A.CLASS_INFO, A.CLASS_AREA, A.CLASS_DEPA 
		, A.CLASS_SD , A.CLASS_CD, A.CLASS_WEEK
		, A.CLASS_STARTTIME , A.CLASS_TIME
		, A.CLASS_PRICE, A.CLASS_PARTICIPATION, A.CLASS_DETAIL, A.CLASS_IMG , A.CLASS_HASHTAG, A.CLASS_TERMIN
         , a.class_creator_name , a.profile_img,
			NVL(B.RATING,0) AS class_member_rating,	
			NVL(b.CLASS_REVIEW_COUNT,0) as class_review_count,
			C.PARTICIPATION,
			C.D_DAY,
			D.MEMBER_NAME AS CLASS_CREATOR_NAME
		  FROM (SELECT a.class_type, a.seq, a.class_name, a.regdate, a.class_info, a.class_area, a.class_depa 
		, a.class_sd , a.class_cd, a.class_week
		, a.class_starttime , a.class_time
		, a.class_price, a.class_PARTICIPATION, a.class_detail, a.class_img , a.class_hashtag, a.class_termin, a.CLASS_MEMBER_SEQ  
        , b.member_name as class_creator_name, b.member_profile as profile_img
        FROM class a,member b
        WHERE  b.member_seq = a.class_member_seq and
        SEQ IN(SELECT INCLASS_CLASS_SEQ FROM INCLASS 
		 WHERE INCLASS_MEMBER_SEQ= #{member_seq})) A,
		 (SELECT CLASS.CLASS_MEMBER_SEQ, ROUND(AVG(REVIEW.REVIEW_RATING),1) AS RATING, COUNT(REVIEW_CLASS_SEQ) AS CLASS_REVIEW_COUNT FROM REVIEW, CLASS WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ GROUP BY CLASS.CLASS_MEMBER_SEQ) B,
		  (SELECT SEQ,	(SELECT COUNT(INCLASS.INCLASS_CLASS_SEQ) FROM INCLASS WHERE INCLASS.INCLASS_CLASS_SEQ = CLASS.SEQ) AS PARTICIPATION, TRUNC((CLASS.CLASS_SD-SYSDATE),0) AS D_DAY
			FROM CLASS) C,
			(SELECT MEMBER_SEQ,MEMBER_NAME FROM MEMBER) D
		 WHERE A.CLASS_MEMBER_SEQ = B.CLASS_MEMBER_SEQ (+)
			AND
         A.SEQ = C.SEQ
         AND D.MEMBER_SEQ = A.CLASS_MEMBER_SEQ
	</select>
			
	<select id="myClass" parameterType="int" resultType="InClassDto">
		SELECT
			INCLASS_CLASS_SEQ AS SEQ
		FROM
			INCLASS
		WHERE
			INCLASS_MEMBER_SEQ = #{memberSeq}
	</select>
	
	<delete id="deleteInclass" parameterType="Map">
		DELETE FROM inclass WHERE inclass_class_seq = #{seq} and inclass_member_seq = 
		(SELECT member_seq FROM member WHERE member_email = #{email}) 
	</delete>
	
	<delete id="deleteWishlist" parameterType="Map">
		DELETE FROM class_wishlist WHERE wishlist_class_seq = #{seq} and wishlist_member_seq = 
		(SELECT member_seq FROM member WHERE member_email = #{email}) 
	</delete>
	
	<update id="setClassTermin" parameterType="Map">
		UPDATE class SET class_termin = #{termin} where seq = #{seq}
	</update>
</mapper>