<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.flip.Class">
	
	<!-- 강사들의 강의 불러오기 10개만 불러오기 -->
	
	<select id="classlistmain" parameterType="String" resultType="ClassDto">
	<![CDATA[ 
		SELECT
		E.SEQ,
		E.CLASS_NAME,
		E.CLASS_PRICE,
		E.CLASS_INSTRUCTOR,
		E.CLASS_IMG,
		D.RATING ClASS_RATING,
		E.CLASS_AREA,
		F.PARTICIPATION CLASS_PARTICIPATION,
		F.D_DAY CLASS_D_DAY,
		MEMBERS.MEMBER_PROFILE AS PROFILE_IMG
		FROM
		CLASS E,
		(SELECT CLASS.CLASS_INSTRUCTOR, ROUND(AVG(REVIEW.REVIEW_RATING),1) AS RATING
		FROM REVIEW, CLASS WHERE REVIEW.REVIEW_CLASS_SEQ = CLASS.SEQ GROUP BY
		CLASS.CLASS_INSTRUCTOR ORDER BY RATING DESC) D,
		(SELECT
		SEQ,
		(SELECT COUNT(INCLASS.SEQ) FROM INCLASS WHERE INCLASS.SEQ = CLASS.SEQ) AS
		PARTICIPATION,
		(TO_CHAR(CLASS.CLASS_SD,'YYYYMMDD')-TO_CHAR(SYSDATE,'YYYYMMDD')) AS
		D_DAY FROM CLASS) F,
		(SELECT MEMBER.MEMBER_ID,MEMBER.MEMBER_PROFILE FROM MEMBER) MEMBERS
		WHERE 
		E.CLASS_INSTRUCTOR=D.CLASS_INSTRUCTOR
		AND E.SEQ = F.SEQ 
		AND MEMBERS.MEMBER_ID = D.CLASS_INSTRUCTOR
		AND e.CLASS_DEPA = #{department}
		AND ROWNUM <= 10
	]]>
	</select>
</mapper>